*{
    border: 0px;
    margin: 0px;
    font-family: 'Arial',sans-serif;
}
.main_div{
    width: 100%;
    overflow: hidden;
}
.head{
    position: sticky;
    top: 0;
}
.nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:#ae275f;
}
.nav_logo{
    color: white;
}
.cal_div{
    margin: 30px 50px 0px 40px;
}
.cal_info{
    margin: 30px 10px 10px 10px;
}
.cal_info_head{
    margin:0px 10px 10px 10px;
}
.loan_calculators{
    margin: 10px 20px 0px 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.calc_heads{
    color: #ae275f;
}
.lec{
    border: 1px solid rgba(242, 237, 237, 0.605);
    padding: 15px 20px 20px 10px;
}
.amount{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.input_field{
    height: 25px;
    width: 120px;
    border: 1px solid gray;
    border-radius: 5px;
    color: #ae275f;
    font-weight: bold;
}
.range{
    margin: 15px 0px 15px 0px;
}
.range_input{
    width: 100%;
    accent-color:#ae275f;
}
.Loan_Range{
    display: flex;
    justify-content: space-between;
}
.monthly_installment{
    padding: 20px;
    background-color: #e0e0ef;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ae275f;
}
button{
    border-radius: 10px;
    width: 100%;
    height: 35px;
    background-color: #ae275f;
    color: white;
    font-weight: bolder;
}